.env
.DS_Store
.idea
composer.phar
composer.lock
Homestead.yaml
Thumbs.db
/vendor
/node_modules
/storage
/app/Modules/Campus
/app/Modules/Gakko
/app/Modules/Jinji
/app/Modules/Shisan
/app/Modules/HR
/app/Modules/Kagi
/app/Modules/General
