.env
.DS_Store
.idea
_idea_helper.php
composer.phar
composer.lock
Homestead.yaml
Thumbs.db
/vendor
/node_modules
/storage
/public/system
/app/Modules/Campus
/app/Modules/Core
/app/Modules/Filex
/app/Modules/Gakko
/app/Modules/Himawari
/app/Modules/Hokoku
/app/Modules/Horitsu
/app/Modules/Jinji
/app/Modules/Kagi
/app/Modules/Kantoku
/app/Modules/Kensaki
/app/Modules/Kenshu
/app/Modules/Kotsu
/app/Modules/Menus
/app/Modules/Moshikomi
/app/Modules/Origami
/app/Modules/Oyasan
/app/Modules/Profiles
/app/Modules/Renraku
/app/Modules/Seito
/app/Modules/Setup
/app/Modules/Taxon
/app/Modules/Kyaku
/app/Modules/Kenji
/app/Modules/Hanso
/app/Modules/Seisan
/app/Modules/Ticket
/app/Modules/Yubin
/config/kagi.php