.env
.DS_Store
.idea
composer.phar
composer.lock
Homestead.yaml
Thumbs.db
/vendor
/node_modules
/storage
/public/system
/app/Modules/Core
/app/Modules/Kagi
/app/Modules/Kantoku
/app/Modules/Menus
/app/Modules/Origami
/app/Modules/Profiles
/app/Modules/Taxon
/app/Modules/Kyaku
/app/Modules/Nenji
/app/Modules/Hanso
/app/Modules/Seisan
/config/kagi.php