/*
|-----------------------------------------------------------------------------------------
| theme
|-----------------------------------------------------------------------------------------
*/

.row-color {
	background: rgba(244, 246,249, 1);
	padding: 40px 20px;
}
.row-bottom-wrapper {
	padding: 0px 10px;
	background: #333c4d url("../img/_style/home-tab-bg.png") repeat-x;
}
.row-footer-wrapper {
	background: #202732;
	overflow: hidden;
	border-top: 1px solid #3d495d;
}

input {
  font-family: sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.landing {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100% !important;
}

.navbar {
	margin: auto !important;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}

ol {
	margin-bottom: 0 !important;
}

.breadcrumb-clean li {
	vertical-align: middle !important;
	display: inline;
}
.breadcrumb-clean li+li:before {
	content:"» ";
}

.search-wrapper {
	line-height: 40px;
	color: #fff;
	background: #333c4d url("../img/_style/bottom-bg.png") repeat-x;
	width: 100%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 20px;
	}





.content-wrapper,
.right-side {
	background-color: #fff !important;
}
.skin-black .main-header > .navbar {
  background-color: #f5f5f5 !important;
}
.skin-black .main-header > .logo {
  background-color: #f5f5f5 !important;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #eee;
}


.search-wrapper a,
.search-wrapper a:hover,
.search-wrapper a:visited,
.search-wrapper a:active,
.search-wrapper a:focus {
	outline: none;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.95) !important;
}
a.black,
a.black:hover,
a.black:visited,
a.black:active,
a.black:focus {
  outline: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75) !important;
}

.settingdivblue:hover {
	border: 5px double #666;
}
.settingiconblue p {
	text-align: center;
	font-size: 17px;
	word-wrap: break-word;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 30px;
}
.settingdivblue {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #ccc;
	border-radius: 100%;
}
