body, html {
	height: 100%;
}

#flex-container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#flex-item {
	margin: auto;
	align-self: flex-start;
}

#login-panel {
	width: 350px;
	height: 350px;
}



.flexcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row /* works with row or column */
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
