/*
|-----------------------------------------------------------------------------------------
| general
|-----------------------------------------------------------------------------------------
*/

html,
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}


.center {
	text-align: center;
}

.logo{
	padding-right:15px;
}

.newspadding {
	padding-top: 25px;
}


.navbar-right {
	font-size: 1.3rem;
}

.img-resize {
	-ms-transform: scale(0.4, 0.4);
	-webkit-transform: scale(0.4, 0.4);
	transform: scale(0.4, 0.4);
	padding-right: 5px; !important
}

.landing {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-bottom: 100px;
}


/*
|-----------------------------------------------------------------------------------------
| media
|-----------------------------------------------------------------------------------------
*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 500px) {

	.logo {
		width: 115px;
		padding-left: 5px;
	}

	.bsd {
		width: 200px;
	}

	.img-resize {
		-ms-transform: scale(0.7, 0.7);
		-webkit-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		padding-right: 5px; !important
	}

	a.top-link {
	font-size: 1em !important;
	}

	nav.accesspoint {
		display: none !important;
	}
	.hide-element {
		display: none !important;
	}

	.carousel {
	padding: 0 0 !important;
	margin: 0 -40px !important;
}

.carousel-indicators li {
	width: 9px!important;
	height: 9px!important;
	border: 1px solid #fff;
}

.carousel-indicators .active {
	width: 12px!important;
	height: 12px!important;
	background-color: #fff;
}

.carousel-caption {
	background-color: rgba(0,0,0,.2);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	padding: 20px 0 20px 25px;
	color: #fff;
	text-align: left;
}

.carousel-indicators {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin: 0;
	padding: 0 25px 20px 0;
	text-align: right;
}
}


/* Small devices (tablets, 768px and up) */
/*
@media (min-width: 768px) {
	.nav-access {
		display: none !important;
	}
}
*/

/*
@media (min-width: @screen-sm-min) {
	.nav-access {
		display: none !important;
	}
}
*/


@media (min-width: 768px) {
	.nav-access {
		display: none !important;
	}
}

/* Medium devices (desktops, 992px and up) */

@media (max-width: 992px) {
	nav.accesspoint {
		display: none !important;
	}
	.hide-element {
		display: none !important;
	}
}

/*
@media (min-width: @screen-md-min) {
	nav.accesspoint {
		display: none !important;
	}
	.hide-element {
		display: none !important;
	}
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
}


/* ------------------- Carousel Styling ------------------- */
.carousel {
	padding: 0 0 !important;
	margin: 0 -40px !important;
}

.carousel-indicators li {
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
}

.carousel-indicators .active {
	width: 17px;
	height: 17px;
	background-color: #fff;
}

.carousel-caption {
	background-color: rgba(0,0,0,.2);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	padding: 20px 0 20px 25px;
	color: #fff;
	text-align: left;
}

.carousel-indicators {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin: 0;
	padding: 0 25px 20px 0;
	text-align: right;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

a.top-link {
	font-size: 2em;
	z-index: 99999 !important;
	color: #fff;
	text-decoration: none;
}
a.top-link:hover {
	z-index: 99999 !important;
	color: #fff;
	text-decoration: none;
}

/*
|-----------------------------------------------------------------------------------------
| fixes
|-----------------------------------------------------------------------------------------
*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header,
footer {
	flex: none;
}


main {
	flex: 1 0 auto;
	margin: 20px 40px;
}

main::after {
	content: '\00a0'; /* &nbsp; */
	display: block;
	margin-top: var(--space);
	height: 0px;
	visibility: hidden;
}
@media (--break-lg) {
main {
	padding-top: var(--space-lg);
	}
	main::after {
	margin-top: var(--space-lg);
	}
}

/*
|-----------------------------------------------------------------------------------------
| header
|-----------------------------------------------------------------------------------------
*/
.navbar {
	font-family: 'Open Sans', sans-serif;
	min-height:25;
	margin-bottom: -20px !important;
	padding: 10px 0;
}

.navbar-right {
	font-size: 1.8rem;
	text-transform: uppercase;
	vertical-align: bottom;
	margin-top: 0px;
	padding-right: 20px;
}


/*
|-----------------------------------------------------------------------------------------
| images
|-----------------------------------------------------------------------------------------
*/
.img-align{
	float:left;
}


/*
|-----------------------------------------------------------------------------------------
| footer
|-----------------------------------------------------------------------------------------
*/

.footer
{
	border-top: 4px solid #e7e7e7;
	background-color: #2f499e;
	color: #FFF;
}

.copyright {
	color: #fff;
}

.logo-text {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #aab2bd;
}

.copyright a {
	color: #fff;
}

.copyright a:hover {
	color: #ccd1d9;
	text-decoration: none;
}

a.logo {
	color: #fff;
}
a.logo:hover {
	color: #ccd1d9;
	text-decoration: none;
}


/*
|-----------------------------------------------------------------------------------------
| footer lists
|-----------------------------------------------------------------------------------------
*/
.nav-title {
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #CCD1D9;
}
.nav-item{
}
.nav-item {
	line-height: 1.6em;
	list-style-type: none;
}
.nav-item > a {
	color: #fff;
}

.nav-item > a:hover {
	color: #ccd1d9;
	text-decoration: none;
}
.footer-nav .nav-item > a:hover, .footer-nav .nav-item > a:active {
	color: #ccd1d9;
	text-decoration: none;
}


/*
|-----------------------------------------------------------------------------------------
| calendar
|-----------------------------------------------------------------------------------------
*/
#eventlist {
	margin-top: 20px;
	list-style:none;
	padding-left: 0px;
}
#eventlist li {
	list-style:none;
}
.eventtitle {
	font-weight:bold;
	position: relative;
	top: -65px;
	left: 80px;
	margin-left: 10px;
}
.description {
	position: relative;
	top: -60px;
	left: 80px;
	padding-right: 90px;
	margin-left: 10px;
}
.location {
	position: relative;
	top: -60px;
	left: 80px;
	padding-right: 80px;
	margin-left: 10px;
}
.eventdate {
	width: 75px;
	height: 65px;
	background: #2f499e;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	color: white;
}


/*
|-----------------------------------------------------------------------------------------
| access points
|-----------------------------------------------------------------------------------------
*/
nav.accesspoint {
	z-index: 900;
	overflow: hidden;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav.accesspoint > ul {
	list-style-type: none;
}

nav.accesspoint > ul > li {
	display: block;
	margin-left: 0px !important;
	-webkit-transform: translateX(-30%);
	-ms-transform: translateX(-30%);
	transform: translateX(-30%);
	margin-bottom: 10px;
}

nav.accesspoint > ul > li > a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	display: block;
	padding: 20px 80px;
	background-color: rgb(47, 73, 158);
	background-color: rgba(47, 73, 158, 0.6);
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	transition: all .1s ease;
}

nav.accesspoint > ul > li > a:hover {
	background-color: rgb(204,209,217);
	background-color: rgba(204,209,217, 0.6);
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	cursor: pointer;
}
