/*
|-----------------------------------------------------------------------------------------
| theme
|-----------------------------------------------------------------------------------------
*/

.row-color {
	background: rgba(244, 246,249, 1);
	padding: 40px 0px;
}
.row-bottom-wrapper {
	background: #333c4d url("../images/home-tab-bg.png") repeat-x;
}
.row-footer-wrapper {
	background: #202732;
	overflow: hidden;
	border-top: 1px solid #3d495d;
}

input {
  font-family: sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
