.extra-slider {
	margin: auto;
	width: 900px;
	max-width: 100%;
}
img {
	display: block;
}
/*********************
 *
 * NAVIGATION
 *
 ********************/
.extra-slider .navigation {
	position: static;
}
.extra-slider .navigation a {
	background: #FFFFFF none center center no-repeat;
	background-size: 15px 20px;
	border: 1px solid #dddddd;
	display: block;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	overflow: hidden;
	margin-top: -35px;
	position: absolute;
	top: 50%;
	z-index: 50;
	text-indent: 100%;
	white-space: nowrap;
	width: 70px;
	height: 70px;
}
.extra-slider .navigation a:hover {
	background-color: #fff799;
}
.extra-slider .navigation .prev {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAcCAMAAABbGh8VAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAvVBMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAAAADXuIvaAAAAPXRSTlMALrsWMuzWGTfv2R088b9B9N0fR/XYG0z41RhS+c8VWPvMEl78xg9jwg1p/r0KcLh3swd5sQZztwlrvGX9RwaDgwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAACdSURBVCjPbdJXDsJADATQpdfQews9oYTeg+9/LYSNvA7yfD5pJXu8xsjE4gkTTTIF6UxEsjkAyBeEFB34pmSlXEGp1ljqDZRmi6XdQen2WPoDlOGIxR2jTKYssznKYsnikfgrlvUGZRuw7Ej2Vg4IcDzZoc9El6tY7UYP7w9hT7JXICx8/w+hjaotpK2tlaNVqBWtnUM7mnba3wf4AGFkJ/RhcoelAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTAzLTE0VDE3OjUzOjQzKzAxOjAwoRtOzwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wMy0xNFQxNzo1Mzo0MyswMTowMNBG9nMAAAAASUVORK5CYII=');
	left: -35px;
}
.extra-slider .navigation .next {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeBAMAAAA84DghAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAAAADxwc6qAAAACHRSTlMAA6ChR/5vbiOi6p0AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAATElEQVQY02NgYBRggAEhRRiLUaMJJizc0QETdu3ogAmzRSCEU+kjXNrR0QxhsgMVGFJFMBUuyIYQdIULgjxvCAsSC5ggUBgmyIAIPgDftSz9jAO8HAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNC0wMy0xNFQxNzo1Mzo1MCswMTowMFxZVMwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTQtMDMtMTRUMTc6NTM6NTArMDE6MDAtBOxwAAAAAElFTkSuQmCC');
	right: -35px;
}
/*********************
 *
 * PAGINATION
 *
 ********************/

.extra-slider .pagination {
	margin: 0 0 0 0;
	position: absolute;
	left: 50%;
	bottom: 6px;
	text-align: center;
	z-index: 50;
	width: auto;
}
.extra-slider .pagination a {
	background: #FFFFFF;
	border: 2px solid transparent;
	color: transparent;
	display: inline-block;
	margin: 0 4px;
	text-indent: 100%;
	white-space: nowrap;
	position: relative;
	left: -50%;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.extra-slider .pagination a.extra-slider-link-active {
	background-color: #fff799;
}
.extra-slider .pagination a:hover {
	border-color: #303030;
}
/*********************
 *
 * CONTENT
 *
 ********************/

.extra-slider ul {
	margin: auto;
	max-width: 900px;
}
.extra-slider li {
	position: absolute;
	margin: auto;
}
.extra-slider li img {
	max-width: 100%;
	height: auto;
}
.extra-slider li p {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	position: absolute;
	right: 10px;
	bottom: 5px;
	text-align: right;
}
.extra-slider li p a {
	color: #fff799;
	background: transparent;
	text-decoration: none;
}
.extra-slider li p a:hover {
	color: #fff799;
	background: transparent;
	text-decoration: underline;
}
/*********************
 *
 * RESPONSIVE
 *
 ********************/
@media only screen and (max-width: 960px) {
	.extra-slider .navigation a {
		background-size: 20%;
		margin-top: -20px;
		width: 40px;
		height: 40px;
	}
	.extra-slider .navigation a.next {
		right: 20px;
	}
	.extra-slider .navigation a.prev {
		left: 20px;
	}
	#margin .navigation a.next {
		margin-left: auto;
	}
	#margin .navigation a.prev {
		left: 20px;
		margin-left: auto;
	}
}
@media only screen and (max-width: 650px){
	.extra-slider .pagination {
		display: none;
	}
}
